<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <title>新增美食套餐</title>
    {% include 'admin/common/header.html' %}
</head>
<body>
<form class="layui-form" action="">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">
                <div class="layui-form-item">
                    <label class="layui-form-label">套餐名</label>
                    <div class="layui-input-block">
                        <input type="text" name="foodName" lay-verify="title"
                               autocomplete="off" placeholder="请输入标题" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">照片</label>
                    <div class="layui-input-block">
                        <img class="photo" style="max-width: 30%;height: 30%;cursor: pointer;" lay-event="photo" src="">
                        <button type="button" class="layui-btn layui-btn-normal" id="logo-img">选择文件</button>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">美食类型</label>
                    <div class="layui-input-block">
                        <ul id="selectFoodType" name="foodType" class="dtree" data-id="0"></ul>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">价格</label>
                    <div class="layui-input-block">
                        <input type="text" name="price" lay-verify="title"
                               autocomplete="off" placeholder="请输入标题"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">简介</label>
                    <div class="layui-input-block">
                        <input type="text" name="introduce" lay-verify="title"
                               autocomplete="off" placeholder="请输入标题"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">所属商家</label>
                    <div class="layui-input-block">
                        <ul id="selectEnterprise" name="enterpriseId" class="dtree" data-id="0"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="pear-btn pear-btn-primary pear-btn-sm" lay-submit=""
                    lay-filter="food-save" id="saveButton">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button type="reset" class="pear-btn pear-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>
{% include 'admin/common/footer.html' %}
<script>
  layui.use(['form', 'element','jquery', 'dtree', 'upload'], function () {
    let form = layui.form
    let element = layui.element
    let $ = layui.jquery
    let dtree = layui.dtree
    var upload = layui.upload

    dtree.renderSelect({
      elem: '#selectFoodType',
      url: '/admin/foodtype/selectFoodType',
      method: 'get',
      selectInputName: { nodeId: 'foodType' },
      skin: 'layui',
      dataFormat: 'list',
      response: { treeId: 'foodTypeId', parentId: 'parentId', title: 'foodTypeName' }
    })

    dtree.renderSelect({
      elem: '#selectEnterprise',
      url: '/admin/enterprise/selectEnterprise',
      method: 'get',
      selectInputName: { nodeId: 'enterpriseId' },
      skin: 'layui',
      dataFormat: 'list',
      response: { treeId: 'enterpriseId', parentId: 'parentId', title: 'enterpriseName' }
    })

    form.on('submit(food-save)', function (data) {
      let roleIds = ''
      $('input[type=checkbox]:checked').each(function () {
        roleIds += $(this).val() + ','
      })
      roleIds = roleIds.substr(0, roleIds.length - 1)
      data.field.roleIds = roleIds
        data.field.foodImage=data.field.file
        console.log(data.field)

      $.ajax({
        url: '/admin/food/save',
        data: JSON.stringify(data.field),
        dataType: 'json',
        contentType: 'application/json',
        type: 'post',
        success: function (result) {
          if (result.success) {
            layer.msg(result.msg, { icon: 1, time: 1000 }, function () {
              parent.layer.close(parent.layer.getFrameIndex(window.name))//关闭当前页
              parent.layui.table.reload('food-table')
            })
          } else {
            layer.msg(result.msg, { icon: 2, time: 1000 })
          }
        }
      })
      return false
    })

    //选完文件后不自动上传
        upload.render({
            elem: '#logo-img'
            , url: "{{ url_for('food.upload_api') }}"
            , auto: false
            , exts: 'jpg|png|gif|bmp|jpeg'
            , size: 1000
            , bindAction: '#saveButton'
            , choose: function(obj) {
                //选择文件后，显示选择的文件的图片
                var file = obj.pushFile(); //将图片文件对象放入队列
                obj.preview(function(index, file, result){ //预览图片
                    $('.photo').attr('src', result); //将图片的src属性设置为选择的文件的文件名
                });
            }
        });

  })
</script>
<script>
</script>
</body>
</html>